USE [master]
GO
/****** Object:  Database [PhoneBook]    Script Date: 06.07.2021 16:52:46 ******/
CREATE DATABASE [PhoneBook]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PhoneBook', FILENAME = N'C:\Users\nucle\PhoneBook.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PhoneBook_log', FILENAME = N'C:\Users\nucle\PhoneBook_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PhoneBook].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PhoneBook]
GO
USE [PhoneBook]
GO
/****** Object:  Table [dbo].[PhoneBook]    Script Date: 06.07.2021 16:52:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhoneBook](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NULL,
	[Phone] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NULL,
	[Adress] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[sp_AddOrUpdateContact]    Script Date: 06.07.2021 16:52:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AddOrUpdateContact]
@Id int,
@FirstName nvarchar(50),
@LastName nvarchar(50),
@Phone nvarchar(50),
@Email nvarchar(50),
@Adress nvarchar(50)
AS
IF @Id = 0
BEGIN
INSERT INTO PhoneBook (FirstName,LastName,Phone,Email,Adress)
VALUES (@FirstName,@LastName,@Phone,@Email,@Adress)
END
ELSE
BEGIN
UPDATE PhoneBook
Set
FirstName = @FirstName,
LastName = @LastName,
Phone = @Phone,
Email = @Email,
Adress = @Adress
WHERE Id = @Id
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteContactById]    Script Date: 06.07.2021 16:52:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DeleteContactById]
@Id int
AS
DELETE FROM PhoneBook
WHERE Id = @Id
GO
/****** Object:  StoredProcedure [dbo].[sp_Search]    Script Date: 06.07.2021 16:52:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Search]
@SearchText nvarchar(50)
AS
SELECT * FROM PhoneBook
WHERE FirstName LIKE '%' + @SearchText + '%' OR LastName LIKE '%' + @SearchText + '%' OR Phone LIKE '%' + @SearchText + '%' OR Email LIKE '%' + @SearchText + '%' OR Adress LIKE '%' + @SearchText + '%'
GO
/****** Object:  StoredProcedure [dbo].[sp_SelectAllContacts]    Script Date: 06.07.2021 16:52:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_SelectAllContacts]
AS
SELECT * FROM PhoneBook
GO
USE [master]
GO
